/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;

    background-image: url(../Assets/image/human\ reading\ book.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    width: 68%;
    height: max-content;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffffe;

    border-radius: 12px;
}

.container-register{
    height: inherit;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    gap: 6%;

    margin: auto;
}
.container-register > .left-side{
    width: 50%;
    /* background-color: aquamarine; */
}

.left-side > #big-text-register {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 120%;

    color: #333;

    margin-bottom: 29px;
}


.left-side > #small-text-register {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .9em;
    line-height: 120%;
    
    color: #333333c2;

    margin-bottom: 58px;
}

.left-side > #button-login {
    width: 100%;
    height: 40px;

    border: none;
    border-radius: 3px;

    color: #fff;
    background-color: #333;

    filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.1));

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .9em;
    line-height: 120%;

    cursor: pointer;
    transition: ease-in-out .2s;
}
.left-side > #button-login:hover {
    transition: ease-in-out .2s;
    background: #fffffe ;
    border: solid 2px #333;
    color: #333;
}
.left-side > #button-login:active {
    background: #333;
    color: #fff;
}

.container-register > .right-side{
    width: 50%;
    background-color: #F3DFCA;
    border-radius: 6px;
    filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.1));
}

.right-side > .form-register {
    display: flex;
    flex-direction: column;
    
    height: max-content;
    border-radius: 12px;
}

.form-register > #username-register {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-radius: 6px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8em;
    color: #333;

    outline: none;
}

.form-register > #email-register {
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    border-radius: 6px;
    border: none;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8em;
    color: #333;
    
    outline: none;
}
.form-register > #password-register {
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-radius: 6px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .8em;
    color: #333;

    outline: none;
}


.form-register > #button-register {
    margin-left: 10%;
    margin-top: 16%;
    margin-bottom: 10%;
    margin-right: 10%;

    height: 40px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: .9em;
    color: #fff;

    border: none;
    border-radius: 3px;

    background-color: #333;

    cursor: pointer;
    
    transition: ease-in-out .2s;
}
.form-register > #button-register:active {
    background: none;
    border: solid 2px #333;
    color: #333;
}


/* RESPONSIVE WEB START */

    /* Mobile */
        @media only screen and (max-width: 600px){
            body{
                height: 100vh;
                background-image: url(../Assets/image/background\ book\ mobile.jpg);
                background-size: cover;
                background-repeat: repeat;                
            }
            
            section{
                width: 80%;
                height: max-content;
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fffffe;

                border-radius: 8px;
            }

            .container-register{
                height: inherit;
                padding-left: 2%;
                padding-right: 2%;
                
                display: flex;
                flex-direction: column;
            
                align-items: center;
                justify-content: space-evenly;
                gap: 4%;
            
                margin: auto;
            }

            /* LEFT SIDE */
        
            .container-register > .left-side{
                margin-top: 6%;
                margin-bottom: 6%;
                width: 90%;
                /* background-color: aquamarine; */
            }

            .left-side > #big-text-register {
                font-family: 'Jost', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 2em;
                line-height: 100%;
            
                color: #333;
            
                margin-bottom: 12px;
            }

            .left-side > #small-text-register {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: .8em;
                line-height: 120%;
                
                color: #333333c2;
            
                margin-bottom: 46px;
            }

            .left-side > #button-login {
                width: 100%;
                height: 40px;
            
                border: none;
                border-radius: 3px;
            
                color: #fff;
                background-color: #333;
            
                filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.1));
            
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: .9em;
            }

            /* RIGHT SIDE */

            .container-register > .right-side{
                margin-top: 6%;
                margin-bottom: 6%;

                width: 90%;
                background-color: #F3DFCA;
                border-radius: 6px;
                filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.1));
            }
            .form-register > #username-register {
                margin-top: 8%;
                margin-left: 4%;
                margin-right: 4%;
            
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            
                border-radius: 6px;
                border: none;
            
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: .8em;
                color: #333;
            
                outline: none;
            }

            .form-register > #email-register {
                margin-top: 4%;
                margin-left: 4%;
                margin-right: 4%;
            
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            
                border-radius: 6px;
                border: none;
            
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: .8em;
                color: #333;
            
                outline: none;
            }
            .form-register > #password-register {
                margin-top: 4%;
                margin-left: 4%;
                margin-right: 4%;
            
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            
                border-radius: 6px;
                border: none;
            
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: .8em;
                color: #333;
            
                outline: none;
            }
            .form-register > #button-register {
                margin-left: 4%;
                margin-top: 16%;
                margin-right: 4%;
            
                height: 40px;
            
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: .9em;
                color: #fff;
            
                border: none;
                border-radius: 3px;
            
                background-color: #333;
            
                cursor: pointer;
            }
        }
    /* Mobile End */

/* RESPONSIVE WEB END */