/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffffe;
    height: 600vh;
    width: 100%;
}
nav{
    height: 10.5vh;
    background: antiquewhite;
    display: flex;
    align-items: center;
}

.container-navbar{
    height: max-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 10%;
    margin-right: 10%;
    
}

.nav-menu ul{
    display: flex;
    gap: 2rem;
}
.nav-menu ul li {
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: .9em;
    line-height: 21px;

    color: #333;
}

.container-hero {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    gap: 4%;
    
    justify-content: space-between;
}
.left-side {
    /* background-color: salmon; */
    width: 50%;
}
.big-small-text > h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;

    color: #333;
}

.big-small-text > p {
    margin-top: 4%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;

    text-align: justify;

    color: #333;
}
.button-hero {
    margin-top: 8%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 22px;
    
    color: #fffffe;

    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: 2em;
    padding-right: 2em;

    text-align: center;

    border-radius: 4px;
    border: none;
    background-color: #333;
    
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.18));
}


.right-side {
    width: 50%;
    
    display: flex;
    justify-content: space-between;

    position: relative;
}

.right-side #image-1 {
    width: 220px;
    height: 340px;

    filter: drop-shadow(4px 2px 8px rgba(51, 51, 51, 0.1));
    border-radius: 100px 299px 8px 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.right-side #vector-round {
    background-color: antiquewhite;
    z-index: -9;

    width: 300px;
    height: 300px;

    position: absolute;
    align-self: center;
    
    left: 100px;

    border-radius: 50%;
}

.right-side #image-2 {
    width: 220px;
    height: 340px;

    filter: drop-shadow(-4px 4px 8px rgba(51, 51, 51, 0.1));
    border-radius: 299px 100px 8px 8px;
    
    align-self: flex-end;
}